.embla {
  --slide-spacing: 1rem;
  --slide-size: 50%;
  --slide-spacing-sm: 1.6rem;
  --slide-spacing-lg: 2rem;
  --slide-size-lg: calc(100% / 3);
}

.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  flex: 0 0 var(--slide-size);
}

/*controls*/

.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}
.embla__button:disabled {
  color: var(--detail-high-contrast);
}
.embla__button__svg {
  width: 35%;
  height: 35%;
}

/* -------------- -------------- -------------- */

.embla {
  width: 100%;
  position: relative;
  margin: auto;
  --slide-height: 29rem;
  --slide-spacing: 2rem;
  --slide-size: 40%;
}
.embla__viewport {
  overflow: hidden;
  width: 107%;
  padding: 0 clamp(1rem, 10vw, 10rem);
  filter: drop-shadow(15px 16px 30px rgba(0, 0, 0, 0.25));
  padding-top: 10rem;
  transform: scale(1.1);
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  width: min-content;
  min-width: 0;
  perspective: 800px;
}
.embla__slide__number {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  overflow: hidden;
  width: clamp(13.3531rem, 30vw, 31.875rem);
  height: clamp(13.3531rem, 30vw, 31.875rem);
  transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  border-radius: 0 30px 0 30px;
}

.embla__slide-img {
  width: clamp(13.3531rem, 30vw, 31.875rem);
  height: auto;
  transition: transform 1s ease-in-out;
}
.embla__slide-img:hover {
  transform: scale(1.05);
}

@media (max-width: 1320px) {
  .embla {
    --slide-size: 45%;
  }
}

@media (max-width: 1000px) {
  .embla {
    --slide-size: 50%;
  }
}

@media (max-width: 750px) {
  .embla {
    --slide-size: 50%;
  }
}
@media (max-width: 600px) {
  .embla {
    --slide-size: 60%;
  }
}

@media (max-width: 460px) {
  .embla {
    --slide-size: 70%;
  }
}

@media (max-width: 370px) {
  .embla {
    --slide-size: 70%;
  }
}

@media (orientation: portrait) {
  .embla__viewport {
    padding-top: 3rem;
  }
}

@media (min-width: 1320px) {
  .embla {
    padding-top: 3rem;
  }
}
