.embla {
  width: 100%;
  height: 800px;
  position: relative;
  margin: auto;
  --slide-height: 29rem;
  --slide-spacing: 2rem;
  --slide-size: 40%;
}
.embla__viewport {
  overflow: hidden;
  width: 107%;
  padding: 0 clamp(1rem, 10vw, 10rem);
  filter: drop-shadow(15px 16px 61px rgba(0, 0, 0, 0.25));
  padding-top: 20rem;
  transform: scale(1.2);
}
.embla__container {
  display: flex;

  touch-action: pan-y pinch-zoom;
  /*margin-left: calc(var(--slide-spacing) * -1);*/
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  width: min-content;
  min-width: 0;
  /*padding-left: var(--slide-spacing);*/
}
.embla__slide__number {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

@media (max-width: 1320px) {
  .embla {
    --slide-size: 45%;
  }
}

@media (max-width: 1000px) {
  .embla {
    --slide-size: 50%;
  }
}

@media (max-width: 750px) {
  .embla {
    --slide-size: 60%;
  }
}
@media (max-width: 600px) {
  .embla {
    --slide-size: 65%;
  }
}

@media (max-width: 460px) {
  .embla {
    --slide-size: 70%;
  }
}

@media (max-width: 400px) {
  .embla {
    --slide-size: 80%;
  }
}
