body {
  background-color: #fafafa;
}

.footer {
  width: 100%;
  background-color: white;
  border-radius: 1rem;
  border: 2px solid red;
  display: flex;
  justify-content: baseline;
  align-items: flex-end;
}

.animation-fade-up {
  animation: fade-up 1s ease-in-out;
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(30%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
