.embla {
  --slide-spacing: 1rem;
  --slide-size: 50%;
  --slide-spacing-sm: 1.6rem;
  --slide-spacing-lg: 2rem;
  --slide-size-lg: calc(100% / 3);
}
.embla__viewport {
  rotate: 350deg;
}
.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  flex: 0 0 var(--slide-size);
}

/*controls*/

.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem #fff;
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}
.embla__button:disabled {
  color: var(--detail-high-contrast);
}
.embla__button__svg {
  width: 35%;
  height: 35%;
}
.footer {
  width: 100%;
  background-color: white;
  border-radius: 1rem;
  border: 2px solid red;
  display: flex;
  justify-content: baseline;
  align-items: end;

}


.border {

  z-index: 10;
  border-bottom-left-radius: 4rem;
  border-top-right-radius: 4rem;
  background-color: #000;
  border: 3px solid transparent;
  background-clip: padding-box;
  box-sizing: border-box;
  position: relative;
    padding: 0;
      margin: 0;
}
.wrapper{
  background-color: #FFFFFF;
  width: 100%;
  padding: 0;
  margin: 0;
    border-radius: inherit;
}

.border::before {
  z-index: 1;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -3px;

  border-radius: inherit;

  background: linear-gradient(120deg, rgba(0, 89, 143, 1) 0%, rgba(0, 26, 41, 0) 27%), linear-gradient(125deg, rgba(0, 89, 143, 0) 40%, rgba(0, 132, 40, 1) 100%), linear-gradient(90deg, #A7A7A7 0%, #A7A7A7 100%);
}

.boton::before {
  top: -10px;
  left: 50%;
  transform: translate(-50%);
  content: '';
  position: absolute;
  width: 100%;
  background-color: #A7A7A7;
  aspect-ratio: 3.670333890969201;
  clip-path: polygon(0.00% 95.76%, 0.00% 95.76%, 0.11% 95.76%, 0.22% 95.79%, 0.32% 95.85%, 0.43% 95.92%, 0.54% 95.99%, 0.65% 96.07%, 0.76% 96.15%, 0.86% 96.21%, 0.97% 96.25%, 1.08% 96.27%, 1.08% 96.27%, 2.25% 96.28%, 3.42% 96.28%, 4.58% 96.26%, 5.75% 96.25%, 6.92% 96.24%, 8.09% 96.23%, 9.26% 96.23%, 10.42% 96.25%, 11.59% 96.30%, 12.76% 96.37%, 12.76% 96.37%, 14.01% 96.22%, 15.17% 95.58%, 16.24% 94.49%, 17.24% 92.95%, 18.15% 90.97%, 19.00% 88.58%, 19.77% 85.78%, 20.47% 82.60%, 21.12% 79.06%, 21.71% 75.15%, 21.71% 75.15%, 22.10% 72.25%, 22.50% 69.33%, 22.89% 66.42%, 23.29% 63.51%, 23.70% 60.62%, 24.11% 57.74%, 24.54% 54.90%, 24.98% 52.09%, 25.44% 49.32%, 25.91% 46.60%, 25.91% 46.60%, 29.48% 30.37%, 33.53% 17.79%, 37.95% 8.67%, 42.60% 2.80%, 47.37% 0.00%, 52.13% 0.06%, 56.75% 2.79%, 61.11% 7.99%, 65.08% 15.46%, 68.55% 25.01%, 68.55% 25.01%, 69.76% 29.21%, 70.91% 33.57%, 72.00% 38.08%, 73.02% 42.75%, 73.99% 47.57%, 74.90% 52.53%, 75.75% 57.64%, 76.55% 62.89%, 77.30% 68.28%, 77.99% 73.81%, 77.99% 73.81%, 78.30% 76.28%, 78.65% 78.66%, 79.02% 80.93%, 79.43% 83.08%, 79.88% 85.12%, 80.36% 87.01%, 80.89% 88.77%, 81.46% 90.38%, 82.07% 91.83%, 82.73% 93.11%, 82.73% 93.11%, 83.00% 93.57%, 83.28% 94.01%, 83.57% 94.43%, 83.85% 94.81%, 84.15% 95.16%, 84.44% 95.46%, 84.73% 95.71%, 85.03% 95.90%, 85.32% 96.03%, 85.62% 96.08%, 85.62% 96.08%, 87.04% 96.15%, 88.47% 96.19%, 89.90% 96.20%, 91.33% 96.19%, 92.76% 96.16%, 94.19% 96.12%, 95.62% 96.05%, 97.06% 95.97%, 98.50% 95.87%, 99.94% 95.76%, 99.94% 95.76%, 99.96% 96.08%, 99.97% 96.41%, 99.98% 96.77%, 99.99% 97.15%, 99.99% 97.54%, 100.00% 97.96%, 100.00% 98.40%, 100.00% 98.86%, 100.00% 99.34%, 100.00% 99.84%, 100.00% 99.84%, 99.88% 99.89%, 99.77% 99.90%, 99.65% 99.90%, 99.53% 99.89%, 99.42% 99.87%, 99.30% 99.83%, 99.19% 99.80%, 99.07% 99.77%, 98.95% 99.75%, 98.84% 99.74%, 98.84% 99.74%, 97.66% 99.73%, 96.48% 99.71%, 95.30% 99.69%, 94.12% 99.67%, 92.94% 99.65%, 91.76% 99.64%, 90.58% 99.65%, 89.40% 99.67%, 88.22% 99.71%, 87.04% 99.78%, 87.04% 99.78%, 85.71% 99.62%, 84.47% 98.95%, 83.32% 97.80%, 82.25% 96.18%, 81.27% 94.11%, 80.35% 91.59%, 79.52% 88.65%, 78.75% 85.29%, 78.05% 81.54%, 77.41% 77.41%, 77.41% 77.41%, 77.09% 75.11%, 76.78% 72.81%, 76.46% 70.49%, 76.15% 68.18%, 75.84% 65.87%, 75.52% 63.57%, 75.19% 61.29%, 74.85% 59.04%, 74.50% 56.80%, 74.14% 54.61%, 74.14% 54.61%, 71.72% 42.17%, 68.98% 31.34%, 65.96% 22.18%, 62.71% 14.73%, 59.25% 9.05%, 55.64% 5.19%, 51.89% 3.20%, 48.06% 3.14%, 44.19% 5.04%, 40.30% 8.97%, 40.30% 8.97%, 38.20% 12.03%, 36.23% 15.63%, 34.38% 19.76%, 32.66% 24.38%, 31.05% 29.48%, 29.55% 35.02%, 28.16% 40.99%, 26.86% 47.36%, 25.66% 54.10%, 24.54% 61.19%, 24.54% 61.19%, 24.30% 62.91%, 24.06% 64.65%, 23.83% 66.40%, 23.61% 68.16%, 23.39% 69.93%, 23.17% 71.70%, 22.95% 73.47%, 22.72% 75.23%, 22.48% 76.97%, 22.24% 78.70%, 22.24% 78.70%, 21.62% 82.59%, 20.93% 86.12%, 20.18% 89.27%, 19.37% 92.04%, 18.48% 94.40%, 17.53% 96.35%, 16.50% 97.87%, 15.39% 98.96%, 14.21% 99.59%, 12.95% 99.77%, 12.95% 99.77%, 11.67% 99.73%, 10.39% 99.70%, 9.12% 99.70%, 7.84% 99.71%, 6.55% 99.74%, 5.27% 99.77%, 3.98% 99.82%, 2.69% 99.88%, 1.39% 99.94%, 0.09% 100.00%, 0.09% 100.00%, 0.07% 99.64%, 0.05% 99.27%, 0.03% 98.89%, 0.02% 98.49%, 0.01% 98.07%, 0.01% 97.65%, 0.00% 97.20%, 0.00% 96.74%, 0.00% 96.26%, 0.00% 95.76%);
}
